.theme-toggle-button {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  border: none;
  padding: 10px 20px;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .theme-toggle-button{
  border: 1px solid var(--buttonHighlightColor);
}

.theme-toggle-button:hover {
  background-color: var(--buttonHighlightColor);
  color: white;
}



body,
.app {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--fontFamily);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-custom {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  padding: 10px 15px;
  text-decoration: none;
  
  /* display: inline-block; */
}
.btn-custom:hover{
  cursor: pointer;
  transform: translateY(-3px);
}

.dark-mode .btn-custom{
  border: 1px solid var(--buttonHighlightColor);
  
}

html {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}